{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Schedule Sending</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Email schedule management interface will be available here.</p>
      </div>
    </div>
  </div>
</div>
{{ footer }}
